<!doctype html>
<html>
	<title>Inicio</title>
   <head>
      <meta http-equiv = "Content-Type" content="text/html; charset=utf-8"/> 
   </head>
   <body>
      <form action = "http://localhost:5000/mctd_resultados" method = "POST">
         <p>Tam Poblacion <input type = "text" name = "tamPoblacion" /></p>
         <p>Num Poblaciones <input type = "text" name = "numPoblaciones" /></p>
         <p>Funcion Objetivo <input type = "text" name = "funcionObjetivo" /></p>
         <p><input type = "submit" value = "Calcular">
      </form>
   </body>
</html>